body{
    font-family: Tahoma;
    font-size: 40px;
}
.letter{
    width: 100px;
    height: 150px;
    background-color: #eeff;
    padding-left: 10px;
    margin-left: 10px;
}
.a_to_e{
    display: flex;
    flex-direction: row;
}