body{
    font-family: Tahoma;
    font-size: 40px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.letter{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #687291;
    margin-top: 10px;
}
#a{
    background-color: #dfe1e7;
}
#b{
    background-color: #eeff;
}
#c{
    background-color: #dfe1e7;
}
#d{
    background-color: #eeff;
}
#e{
    background-color: #dfe1e7;
}
#f{
    background-color: #687291;
    border: 4px solid black;
}